body {
  font-family: 'Roboto', sans-serif;
  color: #19293a;
  font-weight: 500;
  background-color: white;
}

* {
  box-sizing: border-box;
}

input {
  border-radius: 3px;
  border: 1px solid #adb6be;
  padding: 5px 10px 5px 30px;
  background-color: #fafcfc !important;
  margin-bottom: 20px;
  height: 30px;
}

label {
  font-weight: 600;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #424242;
  padding: 15px 0 0 10px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  color: white;
  height: 60px;
}

.fa {
  margin-top: 5px;
}

.nav-text {
  letter-spacing: 5px;
  padding-left: 30px;
}

.text {
  background-color: white;
  border-radius: 4px;
  width: 15%;
  margin: 60px auto;
  padding: 1px 0;
}

.alert{
  text-align: center;
}
.container {
  height: 250px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  background: url(images/pound.jpg);
  opacity: 0.6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px;
}

.data-container {
  width: 220px;
  margin: 50px auto;
  position: relative;
}

#output{
  width: 100%;
}

#gbp-static-value {
  position: absolute;
  left: 180px;
  font-weight: bold;
  font-size: 0.8em;
  color: #444;
  top: 26px;
}

#pln-static-value {
  position: absolute;
  left: 180px;
  font-weight: bold;
  font-size: 0.8em;
  color: #444;
  top: 95px;
}

#pln {
  background: url(images/poland.png) no-repeat scroll 5px 5px;
  background-size: 20px 20px;
}

#gbp {
  background: url(images/uk.png) no-repeat scroll 5px 5px;
  background-size: 20px 20px;
}
